*{
    margin: 0;
    padding: 0;
}
// import//
@import './variables/_colores.scss';
@import './variables/_tipografia.scss';
@import './secciones/_index.scss';
@import './secciones/_header.scss';


h1{
    background-color: $colorFondo;
    font-style: $typoTitle;
    color: $textoSecundario;
}

.parte1{
    background-color: darkred;
    color: white;
    h2{
        font-style: oblique;
    }
    p{
       @extend %estilosParrafo;
       @include fontStyle($colorPrimario, $textoSecundario);
    }
}

// extend//

%estilosParrafo{
    text-align: center;
    font-style: $typoTitle;
    color: $colorSecundario;
}

// mixin //

@mixin fontStyle ($colorPrimario , $textoSecundario) {
    background-color: $colorPrimario;
    text-transform: uppercase;
    color: $textoSecundario;
    
}