header {
    background-color: $colorFondo;
    ;

    ul {
        display: flex;

        li {
            list-style: none;
            padding: 1rem;
            color: $textoSecundario;

            &:hover {
                background-color: black;
                font-style: italic;
            }
        }
    }
}